[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
pydantic-settings = "*"
setuptools = "*"
loguru = "*"
numpy = "*"
openai = "*"
pyyaml = "*"
rapidfuzz = "*"
python-telegram-bot = "*"
telegramify-markdown = "*"
tweepy = "*"
pillow = "*"
lxml-html-clean = "*"
requests-html = "*"
qdrant-client = {extras = ["http"], version = "*"}

[dev-packages]
mypy = "*"
isort = "*"
ruff = "*"

[requires]
python_version = "3.12"
