[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
pydantic-settings = "*"
setuptools = "*"
loguru = "*"
numpy = "*"
openai = "*"
pyyaml = "*"
rapidfuzz = "*"
python-telegram-bot = "*"
telegramify-markdown = "*"
tweepy = "*"
discord = "*" 
slack-sdk = "*"
google-auth-oauthlib = "*"
google-auth = "*"
google-api-python-client = "*"
whatsapp_api_client_python = "*"
ShopifyAPI = "*"
tavily-python = "*"
aiohttp = "*"
pillow = "*"
types-requests = "*"
lxml-html-clean = "*"
requests-html = "*"
qdrant-client = {extras = ["http"], version = "*"}
mkdocs = "*"
mkdocs-material = "*"
mkdocs-macros-plugin = "*"
mkdocs-awesome-pages-plugin = "*"
anthropic = "*"
chromadb = "*"
pytest = "*"
ruff = "*"

[dev-packages]
mypy = "*"
isort = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
ruff = "*"

[requires]
python_version = "3.12"
