loguru
numpy
pandas
scikit-learn
torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
pydantic>=2.0
pydantic-settings
openai
anthropic
transformers
chromadb
qdrant_client
tweepy
requests_html
lxml
lxml_html_clean
